<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('imagens', filename='512x512.png') }}">
    <title>Cadastro</title>
</head>

<body>
    <a href="{{ url_for('logout') }}">
        <button class="logout-btn">Logout</button>
    </a>
    <div class="usuario-logado">
        <p>{{ session['usuario'] }}</p>
    </div>
    <div class="nav-buttons">
        <button type="button" onclick="window.location.href='/consulta'">Consultar Aluno</button>
        <button type="button" onclick="window.location.href='/cadastro'">Cadastrar Aluno</button>
        <button type="button" onclick="window.location.href='/recarga'">Efetuar Recarga</button>
        <button type="button" onclick="window.location.href='/debito'">Debitar Saldo</button>
    </div>
    <div class="container">
        <h1>Cadastro de Aluno</h1>
        <form method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>

            <label for="ra">RA:</label>
            <input type="number" id="ra" name="ra" placeholder="Digite seu RA" required>

            <button type="submit">Cadastrar</button>
        </form>

        {% if result == 'erro' %}
        <div class="error">
            <p>{{erro}} Deseja fazer uma recarga?</p>
            <button type="button" onclick="window.location.href='/cadastro'">Não</button>
            <button type="button" onclick="window.location.href='/recarga'">Sim</button>
        </div>
        {% endif %}
        {% if result == 'sucess_message' %}
        <div class="sucess">
            <p>{{ sucess_message }} Deseja fazer uma recarga para este usuário?</p>
            <button type="button" onclick="window.location.href='/cadastro'">Não</button>
            <button type="button" onclick="window.location.href='/recarga'">Sim</button>
        </div>
        {% endif %}

    </div>
</body>

</html>